<!DOCTYPE html>

<html>

<head>
     <title>{{page.title}}</title>
     <meta http-equiv = "Content-Type" content = "text/html; charset = utf-8">
     <link rel = "stylesheet" type = "text/css" href = "css/classes.css">
</head>

<!-- bgcolor = "#FFFFFF" background = "../images/fondo_blanco2.gif"-->
<body>
<div class="container">

{{ content }}

</div>
<hr>
<footer>
<center>
<address> © 2019 Jorge de la Vega, Departamento de Estadística, ITAM </address>

<script LANGUAGE ="Javascript" type="text/javascript">
<!-- //hide script from old browsers document.write("Última actualización "+ document.lastModified +" ");
//end hiding contents -->
</script>

</center>
</footer>
</body>
</html>
